{% extends 'library/base.html' %}

{% block title %}
    Author List
{% endblock %}

{% block create_button %}
    {% if perms.library.add_author %}
    <a
        href="{% url 'library_author_create_urlpattern'  %}"
        class="button button-primary">
      Create New Author</a>
    {% endif %}
{% endblock %}

{% block org_content %}
  <h3>Author List</h3>
    {% if perms.library.add_author %}
    <div class="mobile">
      <a
          href="{% url 'library_author_create_urlpattern' %}"
          class="button button-primary">
        Create New Author</a>
    </div>
    {% endif %}

    <ul>
      {% for author in author_list %}
        <li>
            <a href="{{ author.get_absolute_url }}"> {{ author }}</a>
        </li>
      {% empty %}

          <li><em>There are no Authors for books in the library.</em></li>
      {% endfor %}

    </ul>
{% endblock %}