{% extends 'library/base.html' %}

{% block title %}
   Genre List
{% endblock %}


{% block create_button %}
    {% if perms.library.add_genre %}
    <a
        href="{% url 'library_genre_create_urlpattern'  %}"
        class="button button-primary">
      Create New Genre</a>
    {% endif %}
{% endblock %}

{% block org_content %}
  <h3>Genre List</h3>
    {% if perms.library.add_genre %}
    <div class="mobile">
      <a
          href="{% url 'library_genre_create_urlpattern' %}"
          class="button button-primary">
        Create New Genre</a>
    </div>
    {% endif %}

    <ul>

      {% for genre in genre_list %}
        <li>
            <a href="{{ genre.get_absolute_url }}"> {{ genre }}</a>
        </li>
      {% empty %}

        <p>There are no Genres for books in the library.</p>

      {% endfor %}

    </ul>
{% endblock %}