{% extends 'library/base.html' %}

{% block title %}
    Genre - {{ genre }}
{% endblock %}

{% block content %}
    <article>
        <div class="row">
            <div class="offset-by-two eight columns">
                <h3>{{ genre }}</h3>
                    <ul class="inline">
                        {% if perms.library.change_genre %}
                        <li>
                          <a
                              href="{{ genre.get_update_url }}"
                              class="button">
                            Edit Genre</a></li>
                        {% endif %}

                        {% if perms.library.delete_genre %}
                        <li>
                          <a
                              href="{{ genre.get_delete_url }}"
                              class="button">
                            Delete Genre</a></li>
                        {% endif %}
                    </ul>

                    <section>
                        <table>
                            <tr>
                                <th>Genre:</th>
                                <td>{{ genre.genre_name }}</td>
                            </tr>
                        </table>
                    </section>

                    <section>
                        <h3>Sections</h3>
                        <ul>
                            {% for section in section_list %}
                                <li>
                                    <a href="{{ section.get_absolute_url }}">{{ section }}</a>
                                </li>
                            {% empty %}
                                <li><em>There are currently no sections for this Genre.</em></li>
                            {% endfor %}
                        </ul>
                    </section>
            </div>
        </div>
    </article>
{% endblock %}