{% extends "library/base.html" %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    <div class="row">
        <div class="offset-by-two eight columns">
            <p> The online library system helps the library staff to maintain the library inventory, add and update the
                books and sections. The library also rents out books to the members for upto two weeks. This app was
                made with the python based django framework.
            </p>
        </div>
    </div>
{% endblock %}