{% extends 'library/base.html' %}

{% block title %}
    Delete Loan
{% endblock %}

{% block content %}
    <form
        action="{{ loan.get_delete_url }}"
        method='post'>
        {% csrf_token %}
        <p>
            Are you sure that you want to delete the loan {{ loan }} ?
        </p>
        <a href="{{ loan.get_absolute_url }}" class="button">Cancel</a>
        <button type="submit">Delete Loan</button>
    </form>
{% endblock %}