{% extends 'library/base.html' %}

{% block title %}
    Loan - {{ loan }}
{% endblock %}

{% block content %}
    <article>
        <div class="row">
            <div class="offset-by-two eight columns">
                 <h3>{{ loan }}</h3>
                    <ul class="inline">
                        {% if perms.library.change_loan %}
                        <li>
                          <a
                              href="{{ loan.get_update_url }}"
                              class="button">
                            Edit Loan</a></li>
                        {% endif %}

                        {% if perms.library.delete_loan %}
                        <li>
                          <a
                              href="{{ loan.get_delete_url }}"
                              class="button">
                            Delete Loan</a></li>
                        {% endif %}
                    </ul>

                <section>
                    <table>
                        <tr>
                            <th>Book:</th>
                            <td><a href="{{ book.get_absolute_url }}">{{ book }}</a></td>
                        </tr>
                        <tr>
                            <th>Member:</th>
                            <td><a href="{{ member.get_absolute_url }}">{{ member }}</a></td>
                        </tr>
                        <tr>
                            <th>Due Back</th>
                            <td>{{ loan.due_back }}</td>
                        </tr>
                    </table>
                </section>
            </div>
        </div>
    </article>

{% endblock %}