{% extends 'library/base.html' %}

{% block title %}
    Loan List
{% endblock %}

{% block create_button %}
    {% if perms.library.add_loan %}
    <a
        href="{% url 'library_loan_create_urlpattern'  %}"
        class="button button-primary">
      Create New Loan</a>
    {% endif %}
{% endblock %}

{% block org_content %}
  <h3>Loan List</h3>
    {% if perms.library.add_loan %}
    <div class="mobile">
      <a
          href="{% url 'library_loan_create_urlpattern' %}"
          class="button button-primary">
        Create New Loan</a>
    </div>
    {% endif %}

    <ul>

      {% for loan in loan_list %}
        <li>
            <a href="{{ loan.get_absolute_url }}"> {{ loan }}</a>
        </li>

      {% empty %}
          <p>There are no books loaned out from the library.</p>
      {% endfor %}

    </ul>
{% endblock %}