{% extends 'library/base.html' %}

{% block title %}
    Error Deleting Member
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Member</h2>
        <p>
            You may not delete the member {{ member }}. This
            member has loaned the following books
        </p>

        <ul>
            {% for book in loans %}
             <li><a href="{{ book.get_absolute_url }}">{{ book }}</a></li>
            {% endfor %}
        </ul>
        <p>
            Return to <a href="{% url 'library_member_list_urlpattern' %}" class="button">Member List</a>
        </p>
    </div>
{% endblock %}