{% extends 'library/base.html' %}

{% block title %}
    Member List
{% endblock %}

{% block create_button %}
    {% if perms.library.add_member %}
    <a
        href="{% url 'library_member_create_urlpattern'  %}"
        class="button button-primary">
      Create New Member</a>
    {% endif %}
{% endblock %}

{% block org_content %}
  <h3>Member List</h3>
    {% if perms.library.add_member %}
    <div class="mobile">
      <a
          href="{% url 'library_member_create_urlpattern' %}"
          class="button button-primary">
        Create New Member</a>
    </div>
    {% endif %}

    <ul>

      {% for member in member_list %}
        <li>
            <a href="{{ member.get_absolute_url }}"> {{ member }}</a>
        </li>

      {% empty %}

          <p>There are no Members in the library.</p>

      {% endfor %}

    </ul>
{% endblock %}