{% extends 'library/base.html' %}

{% block title %}
    Publisher List
{% endblock %}

{% block create_button %}
    {% if perms.library.add_publisher %}
    <a
        href="{% url 'library_publisher_create_urlpattern'  %}"
        class="button button-primary">
      Create New Publisher</a>
    {% endif %}
{% endblock %}

{% block org_content %}
  <h3>Publisher List</h3>
    {% if perms.library.add_publisher %}
    <div class="mobile">
      <a
          href="{% url 'library_publisher_create_urlpattern' %}"
          class="button button-primary">
        Create New Publisher</a>
    </div>
    {% endif %}

    <ul>

      {% for publisher in publisher_list %}
        <li>
            <a href="{{ publisher.get_absolute_url }}"> {{ publisher }}</a>
        </li>

      {% empty %}

          <p>There are no publishers for books in the library.</p>

      {% endfor %}

    </ul>
{% endblock %}