{% extends 'library/base.html' %}

{% block title %}
    Section List
{% endblock %}

{% block create_button %}
    {% if perms.library.add_section %}
    <a
        href="{% url 'library_section_create_urlpattern'  %}"
        class="button button-primary">
      Create New Section</a>
    {% endif %}
{% endblock %}

{% block org_content %}
  <h3>Section List</h3>
    {% if perms.library.add_section %}
    <div class="mobile">
      <a
          href="{% url 'library_section_create_urlpattern' %}"
          class="button button-primary">
        Create New Section</a>
    </div>
    {% endif %}

    <ul>

      {% for section in section_list %}
        <li>
            <a href="{{ section.get_absolute_url }}"> {{ section }}</a>
        </li>

      {% empty %}

          <p>There are no sections in the library.</p>

      {% endfor %}

    </ul>
{% endblock %}